body {
    background: radial-gradient(circle, skyblue, steelblue);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


#start > a, #start > a:active, #start > a:hover {
    all: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #00ffff;
    width: 360px;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    font-family: FontAwesome;
}

.fa-calculator {
    padding-right: 20px;
}

.tooltip {
    font-size: 16px;
    font-family: FontAwesome;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: #212121;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    margin-top: 20px;
    margin: auto;
    font-family: FontAwesome;
}

.my-hidden {
    display: none;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
}

.item {
    background-color: #00ffff;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    font-family: FontAwesome;
}

form {
    max-width: 100%
}

input {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    font-family: FontAwesome;
    outline: none;
    text-align: right;
    padding: 0;
}

.input {
    grid-column: 1/-1;
    padding: 0;
}

.clean {
    grid-column: 1/3;
    background-color: #0026ff
}

.delete {
    grid-column: 3/-1;
    background-color: #0094ff
}

.zero {
    grid-column: 1/3;
}

.equal {
    grid-column: 4;
    grid-row: 6/8;
    background-color: #00ff90
}
