body {
    background: radial-gradient(circle, skyblue, steelblue);
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: FontAwesome;
}

.window {
    max-width: 360px;
    margin: auto;
    margin-top: 10px;
    background-color: black
}

.panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-group {
    padding: 0px;
    margin: 0px;
}

.out {
    font-family: FontAwesome;
    font-size: 30px;
    font-weight: bold;
}

.fa-calculator {
    padding-right: 20px;
}

.equal
{
    padding: 42px 0px 42px 0px;
}

.tooltip {
    font-size: 16px;
    font-family: FontAwesome;
}
